<footer class="bg-main-light py-4">
        <div class="container">
            <h2>Get The FreshCart App </h2>
            <p class="text-muted">We Will Send You a Link , open it on your phone to download the app  </p>
            <div class="d-flex gap-3">
                <input type="email" class="form-control" placeholder="Email.....">
                <button class="main-btn flex-shrink-0">Share App Link</button>
            </div>
            <hr>
            <div class="text-center">
                <h3 class="h6"> &copy; 2024 Ahmed Adnan All Rights Reseved </h3>
                <div class="nav-item small-device d-flex justify-content-center gap-3 me-3">

                    <span> <i class="fab fa-instagram"></i></span>
                    <span><i class="fab fa-facebook"></i></span>
                    <span><i class="fab fa-tiktok"></i></span>
                    <span><i class="fab fa-twitter"></i></span>
                    <span><i class="fab fa-linkedin"></i></span>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>
</footer>