<section class="py-5">
    <div class="container">

        <form *ngIf="step1" [formGroup]="emailForm" class="w-75 m-auto bg-main-light box my-4 p-4 rounded-4" (ngSubmit)="sendEmail()">
            <div class="mb-3">
                <h3 for="email" class="form-label text-center pb-2">Your Email</h3>
                <input type="email" formControlName="email" class="form-control" id="email">
                <div class="small ps-3 my-2" [class.is-invalid]="emailControl?.invalid"
                        *ngIf=" emailControl?.touched && emailControl?.invalid  ">
                        <p *ngIf="emailControl?.getError('required')">Email is a Required</p>
                        <p *ngIf="emailControl?.getError('misEmail')">Please enter a valid email address
                                ,example&commat;gmail.com </p>
                </div>
            </div>
            <button #btnEmail [disabled]="emailControl?.invalid" class="main-btn d-block w-75 m-auto me-auto">
                <span>Forget Password</span>
                <span *ngIf="isLoad" class="ps-2"><i class="pi pi-spin pi-spinner"></i></span>
            </button>
        </form>
        <form *ngIf="step2" [formGroup]="codeForm" class="w-75 m-auto bg-main-light box my-4 p-4 rounded-4"  (ngSubmit)=" sendCode()">
            <div class="mb-3">
                <h3 for="code" class="form-label text-center pb-2">Code</h3>
                <input type="text" formControlName="resetCode" class="form-control" id="code">
                <div class="small ps-3 my-2" [class.is-invalid]="codeControl?.invalid"
                        *ngIf=" codeControl?.touched && codeControl?.invalid  ">
                        <p *ngIf="codeControl?.getError('required')">Code is a Required</p>
                </div>
            </div>
            <button [disabled]="codeControl?.invalid" class="main-btn d-block w-75 m-auto me-auto">
                <span>Verify Code</span>
                <span *ngIf="isLoad" class="ps-2"><i class="pi pi-spin pi-spinner"></i></span>

            </button>
        </form>
        <form *ngIf="step3" [formGroup]=" newPasswordForm" class="w-75 m-auto bg-main-light box my-4 p-4 rounded-4" (ngSubmit)=" reWritePassword()">
            <div class="mb-3">
                <h3 for="password" class="form-label text-center">Password</h3>
                <p-password formControlName="newPassword" id="password" [toggleMask]="true"></p-password>
                <div class="small ps-3 my-2" [class.is-invalid]="passwordControl?.invalid"
                        *ngIf=" passwordControl?.touched && passwordControl?.invalid  ">
                        <p *ngIf="passwordControl?.getError('required')">Password is a Required</p>
                        <p *ngIf="passwordControl?.getError('pattern')">must be at least 6 chars</p>
                </div>
        </div>
            <button [disabled]="passwordControl?.invalid" class="main-btn d-block w-75 m-auto me-auto">
                <span>Reset Password</span>
                <span *ngIf="isLoad" class="ps-2"><i class="pi pi-spin pi-spinner"></i></span>
            </button>
        </form>


    </div>

</section>