<section class="py-5" *ngIf="products.length >0">
    <h2 class="pb-3">
        Popular Products
    </h2>
        <input  [(ngModel)]="term" type="text" class="form-control mx-auto w-50 form-control-sm mt-2 mb-4 " placeholder="searching...">
    <div class="row g-3">
        <div *ngFor="let product of products | search : term | slice : 0 : 18  " class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="product">
                <header role="button" [routerLink]="['/productdetails', product._id]">
                    <div class="h-100">
                        <img [src]="product.imageCover" [title]="product.title" [alt]="product.title" class="w-100 ">
                    </div>
                    <div class="p-1">
                        <h3 class="h6">{{product.title | cuttext:2}}</h3>
                        <h4 class="h6 text-main">{{product.category.name }}</h4>
                        <div class="small d-flex align-items-center justify-content-between">
                            <p>{{product.price | currency :'£E'}}</p>
                            <p>
                                <span>
                                    <i class="fas fa-star rating-color"></i>
                                </span>
                                {{product.ratingsAverage}}
                            </p>

                        </div>
                    </div>
                </header>
                <div class="right">
                    <span (click)="addCart(product._id , btnCart)" role="button">
                        <i class="fa-solid fa-cart-arrow-down fa-bounce   " #btnCart></i>
                    </span>
                </div>
                <div class="left">
                    <span *ngIf="!wishListArr.includes(product._id)" (click)="addToWish(product._id)"  role="button">
                   
                        <i class="fa-regular fa-heart "></i>
                    </span>
                    <span *ngIf="wishListArr.includes(product._id)" (click)="removeWish(product._id)"  role="button" class="text-danger">
                        <i class="fa-solid fa-heart"></i>
                    </span>
                </div>
            </div>
        </div>


    </div>
</section>