<section>
    <div class="container">
            <h2 class="my-2 h1 text-main text-center">Update User Password </h2>
            <form [formGroup]="updatePassword" class="w-75 m-auto bg-main-light box my-4 p-4 rounded-4"
                    (ngSubmit)="updateUserPassword()">


                    <div class="mb-3">
                            <label for="password" class="form-label"> Current Password</label>
                            <p-password formControlName="currentPassword" id="password" [toggleMask]="true"></p-password>
                            <div class="small ps-3 my-2" [class.is-invalid]="CurrentpasswordControl?.invalid"
                                    *ngIf=" CurrentpasswordControl?.touched && CurrentpasswordControl?.invalid  ">
                                    <p *ngIf="CurrentpasswordControl?.getError('required')">Password is a Required</p>
                                    <!-- <p *ngIf="CurrentpasswordControl?.getError('pattern')">must be at least 6 chars</p> -->
                            </div>
                    </div>
                    <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <p-password formControlName="password" id="password" [toggleMask]="true"></p-password>
                            <div class="small ps-3 my-2" [class.is-invalid]="passwordControl?.invalid"
                                    *ngIf=" passwordControl?.touched && passwordControl?.invalid  ">
                                    <p *ngIf="passwordControl?.getError('required')">Password is a Required</p>
                                    <p *ngIf="passwordControl?.getError('pattern')">must be at least 6 chars</p>
                            </div>
                    </div>
                    <div class="mb-3">
                            <label for="rePassword" class="form-label d-block">Confirm Password</label>
                            <!-- <input type="password" class="form-control" formControlName="rePassword" id="rePassword"> -->
                            <p-password formControlName="rePassword" id="rePassword"
                                    [toggleMask]="true"></p-password>
                            <div class="small ps-3 my-2"
                                    *ngIf="rePasswordControl?.touched && updatePassword?.invalid">
                                    <p *ngIf="rePasswordControl?.getError('required')">Password is a Required</p>
                                    <p *ngIf="updatePassword.getError('misMatch')">Password confirmation is incorrect
                                    </p>
                            </div>
                    </div>


                    <button class="main-btn d-block me-auto" [disabled]="updatePassword.invalid">

                            <span>Register</span>
                            <span *ngIf="isLoad" class="ps-2"><i class="pi pi-spin pi-spinner"></i></span>

                    </button>
                    <p *ngIf="errorMsg" class="text-center"> {{errorMsg}} </p>

            </form>
    </div>
</section>